{% extends 'base.html' %}
{% load static %}

{% block title %}
    Добавить город
{% endblock title %}

{% block content %}
    <form method="post" action="{% url 'locations:add' %}" class="w-25 row g-1">
        {% csrf_token %}
        {% include 'components/forms/form.html' %}
        <button class="btn btn-success mt-2" type="Submit">Добавить</button>
    </form>
{% endblock content %}

{% block extra_head_tags %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/datetimepicker.js' %}" defer></script>
{% endblock extra_head_tags %}